# EXPLORING SPATIAL DATA

---
# Introduction

In this project, we explore the use cases for spatial data analysis.

In [1]:
from shapely.geometry import Polygon, Point, LineString

---
# Part I - Explore shapely

See https://shapely.readthedocs.io/en/stable/manual.html for details, especially for the chapter Polygons, LineStrings, and Spatial Analysis Methods.

In [2]:
def create_polygons(boundary_coords):
    poly = Polygon(boundary_coords)
    return poly



def calculate_areas_of_intersection(poly1, poly2):   
    """
    1. find the intersection of two polygons
    2. calculate the area of the intersection(s)
    """
    i = poly1.intersection(poly2)
    return i.area
    
    

def calculate_areas_of_union(poly1, poly2):
    """
    1. find the union of two polygons
    2. calculate the area of the union(s)
    """
    u = poly1.union(poly2)
    return u.area
    
     

def create_line_strings(ls_coords):
    return LineString(ls_coords)



def check_intersect_of_ls(ls1, ls2):
    """
    return True if two line strings intersect
    return False otherwise
    """ 
    l1 = create_line_strings(ls1)
    l2 = create_line_strings(ls2)
    i = l1.intersection(l2)
    if i != 0:
        return True
    else:
        return False

In [3]:
boundary_poly1 = [(26.28843, -81.2289),(26.28758, -81.20704),(26.25265, -81.17424),(26.10507, -81.05399),(26.07176, -81.05371),(25.96929, -81.05366),(25.93087, -81.09241),(25.89438, -81.13046),(25.85724, -81.21336),(25.85678, -81.23206),(25.85678, -81.26908),(25.85747, -81.30706),(25.89316, -81.35036),(25.97398, -81.4368),(26.13718, -81.4368),(26.2164 ,-81.34938),(26.23962, -81.32186),(26.2519 ,-81.30656),(26.28843, -81.2289)]
boundary_poly2 = [(26.39642, -80.33508),(26.35857, -80.21314),(26.3348 ,-80.21249),(26.29274, -80.21259),(26.14611, -80.25098),(26.11615, -80.289),(26.10832, -80.30208),(26.07566, -80.36576),(26.03664, -80.49353),(26.03635, -80.51376),(26.03639, -80.53557),(26.03675, -80.58669),(26.05827, -80.59536),(26.24977, -80.59516),(26.28015, -80.59478),(26.32421, -80.55287),(26.36002, -80.50745),(26.39595, -80.43837),(26.39642, -80.33508)]
boundary_poly3 = [(26.6078 ,-80.37978),(26.56995, -80.25784),(26.54618, -80.25719),(26.50412, -80.25729),(26.35749, -80.29568),(26.32753, -80.33369),(26.31969, -80.34678),(26.28703, -80.41045),(26.24802, -80.53823),(26.24773, -80.55846),(26.24777, -80.58027),(26.24813, -80.63139),(26.26965, -80.64005),(26.46114, -80.63986),(26.49153, -80.63948),(26.53559, -80.59756),(26.5714 ,-80.55215),(26.60732, -80.48306),(26.6078 ,-80.37978)]
coords_ls1 = [(39.1833, -76.7333),(39.2000, -76.8000),(39.2167, -76.8667),(39.2500, -76.9500),(39.2667, -77.0333),(39.3000, -77.1333),(39.3500, -77.2500),(39.3833, -77.3500),(39.4167, -77.4667),(39.4500, -77.5833),(39.4833, -77.7000),(39.5167, -77.8000),(39.5500, -77.9167),(39.5833, -78.0333),(39.6500, -78.2500),(39.7000, -78.3833),(39.7333, -78.5167),(39.7667, -78.6500),(39.8333, -78.7667),(39.8833, -78.9000),(39.9500, -79.0167),(40.0000, -79.1333),(40.0667, -79.2667),(40.1167, -79.3833),(40.1833, -79.5000),(40.2333, -79.6333),(40.3000, -79.7667),(40.3500, -79.9000),(40.4167, -80.0333),(40.4833, -80.1500),(40.5333, -80.2833),(40.6000, -80.4167),(40.6500, -80.5667),(40.7000, -80.7000),(40.7500, -80.8500),(40.8000, -80.9833),(40.8333, -81.1167),(40.8833, -81.2500),(40.9333, -81.3833)]
coords_ls2 = [(38.767, -83.917),(38.700, -83.733),(38.650, -83.583),(38.583, -83.383),(38.517, -83.200),(38.450, -83.017),(38.383, -82.833),(38.317, -82.633),(38.250, -82.450),(38.183, -82.283),(38.050, -81.917),(37.983, -81.750),(37.933, -81.583),(37.867, -81.417),(37.800, -81.267),(37.733, -81.100),(37.667, -80.933),(37.617, -80.767),(37.550, -80.583),(37.483, -80.417),(37.417, -80.250),(37.350, -80.083),(37.267, -79.950),(37.183, -79.817),(37.100, -79.683),(37.000, -79.533),(36.917, -79.400),(36.833, -79.267),(36.767, -79.150),(36.683, -79.033),(36.617, -79.000),(36.550, -78.983),(36.467, -78.967),(36.400, -78.933),(36.333, -78.900),(36.283, -78.817),(36.233, -78.733),(36.183, -78.650),(36.150, -78.583),(36.100, -78.517),(36.067, -78.550),(36.000, -78.650),(35.967, -78.683),(35.933, -78.733),(35.900, -78.767)]

In [4]:
poly1 = create_polygons(boundary_poly1)
poly2 = create_polygons(boundary_poly2)
poly3 = create_polygons(boundary_poly3)
poly4 = Point((26.5,-80.5)).buffer(0.25)

In [5]:
poly1

In [6]:
ls1 = create_line_strings(coords_ls1)
ls2 = create_line_strings(coords_ls2)

In [7]:
"""
Some Examples
"""
print(calculate_areas_of_intersection(poly1, poly2))
print(calculate_areas_of_intersection(poly2, poly3))
print(calculate_areas_of_intersection(poly3, poly4))
print(calculate_areas_of_union(poly1, poly2))
print(calculate_areas_of_union(poly2, poly4))
print(calculate_areas_of_union(poly3, poly4))
print(check_intersect_of_ls(ls1, ls2))

0.0
0.02593924931133175
0.10779517711658397
0.2331291194000023
0.27697014244275203
0.1981096331925395
True

---
# Part II - Explore geopandas

In the US, the airspace is separated into 20 Air Route Traffic Control Centers (ARTCC) to manage the air traffic. For the purpose of analyzing how different air traffic control strategies affect the flights, we firstly need to know which ARTCCs a designated flight crossed (see figure below).

<img  src= "Image.JPG" width = 650> 

Therefore, we have two set of files: 
- shape file of ARTCCs (artcc_cont.shp and all other supporting files)
- track file for three flights (sample_tracks.csv)

We will implement the function find_crossing_artcc() to find all ARTCCs that an input flight crossed. 
In the skeleton file, we  convert the ARTCC geometries into geopandas data frame artcc_df and load flight tracks into a pandas data frame tracks. 

In artcc_df, there are 2 columns â€“ Name and geometry, and 20 rows, each of which indicates the geometry (polygon) of an ARTCC center. 

Tracks has 472 rows and 5 columns. Each row records only ONE track point (ACID, time, lat, lon, alt). Therefore, each flight is described by a collection of rows with the same ACID, which represents the flight identifier.

In [8]:
import geopandas as gpd
import pandas as pd
import numpy as np

In [9]:
artcc_df = gpd.GeoDataFrame.from_file('shp/artcc_cont.shp')[['Name', 'geometry']]
tracks = pd.read_csv('shp/sample_tracks.csv', parse_dates=[1])

In [10]:
artcc_df.head(3)

        Name                                           geometry
0  ARTCC ZAB  POLYGON Z ((-111.841666667 35.76666666700004 0...
1  ARTCC ZAU  POLYGON Z ((-93.46666666699997 41.666666667000...
2  ARTCC ZNY  POLYGON Z ((-76.69722222199994 42.727777778000...

In [11]:
tracks.head(3)

     ACID           Elap_Time        Lat        Lon  Alt
0  UAL386 2013-01-01 01:08:00  29.983333 -95.300000    8
1  UAL386 2013-01-01 01:09:00  30.016667 -95.266667   26
2  UAL386 2013-01-01 01:11:00  30.166667 -95.233333   86

In [12]:
print('Unique flights:', tracks.ACID.unique())

Unique flights: ['UAL386' 'UAL1295' 'UAL593']

In [13]:
def find_crossing_artcc(flight_id, flight_tracks_df, artcc_df):
    """
    Inputs:
        flight_id: the flight identifier, e.g., "UAL386"
        flight_tracks_df: the data frame that contains the flight tracks
        artcc_df: the data frame that contains the ARTCC geometry information
    Task:
        for flight "flight_id", find all ARTCCs that it crosses.
        for example, flight "UAL386" crosses "ZHU", "ZBW", ..., "ZNY"
    Return:
        a list of all crossing ARTCCs' name
        for example: ['ARTCC ZHU', ..., 'ARTCC ZNY']
    """ 
    # Create the list of points of the plane traject   
    df = flight_tracks_df.loc[flight_tracks_df['ACID'] == flight_id, ['Lon', 'Lat', 'Alt']]
    List_of_points = df.values.tolist()
    
    # Create the line string of the plane traject
    Line = LineString(List_of_points)
    
    # Test if the line intersects with an ARTCC
    ARTCC_crossed = []
    for c in range(0,len(artcc_df)):
        poly = Polygon(artcc_df.get('geometry')[c])
        i = Line.intersects(poly)
        if i == True:
            a = artcc_df.get('Name')[c]
            ARTCC_crossed.append(a)
            
    return ARTCC_crossed

In [14]:
"""
Some Examples
"""
crossed_artcc = find_crossing_artcc(flight_id = 'UAL386', 
                                    flight_tracks_df = tracks, 
                                    artcc_df = artcc_df)
print('flight UAL386 crossed: ', crossed_artcc)

flight UAL386 crossed:  ['ARTCC ZNY', 'ARTCC ZBW', 'ARTCC ZFW', 'ARTCC ZHU', 'ARTCC ZID', 'ARTCC ZME', 'ARTCC ZOB']

In [15]:
"""
Some Examples
"""
crossed_artcc = find_crossing_artcc(flight_id = 'UAL1295', 
                                    flight_tracks_df = tracks, 
                                    artcc_df = artcc_df)
print('flight UAL1295 crossed: ', crossed_artcc)

flight UAL1295 crossed:  ['ARTCC ZNY', 'ARTCC ZBW', 'ARTCC ZDC', 'ARTCC ZFW', 'ARTCC ZHU', 'ARTCC ZID', 'ARTCC ZME']

In [16]:
"""
Some Examples
"""
crossed_artcc = find_crossing_artcc(flight_id = 'UAL593', 
                                    flight_tracks_df = tracks, 
                                    artcc_df = artcc_df)
print('flight UAL593 crossed: ', crossed_artcc)

flight UAL593 crossed:  ['ARTCC ZNY', 'ARTCC ZBW', 'ARTCC ZDC', 'ARTCC ZHU', 'ARTCC ZTL']

##### In order
We now return the list of crossed ARTCCs in order

In [17]:
def find_crossing_artcc_order(flight_id, flight_tracks_df, artcc_df):
    
    # Create the list of points of the plane traject considering the time
    df = flight_tracks_df.loc[flight_tracks_df['ACID'] == flight_id, ['Lon', 'Lat', 'Alt']]
    List_of_points = df.values.tolist()
    
    # Test if the points intersect with an ARTCC
    ARTCC_crossed = []
    for u in range(0,len(List_of_points)):
        for v in range(0,len(artcc_df)):
            poly = Polygon(artcc_df.get('geometry')[v])
            pt = Point(List_of_points[u])
            i = pt.intersects(poly)
            if i == True and artcc_df.get('Name')[v] not in ARTCC_crossed:
                a = artcc_df.get('Name')[v]
                ARTCC_crossed.append(a)
                
    return ARTCC_crossed

In [18]:
"""
Example
"""

crossed_artcc = find_crossing_artcc_order(flight_id = 'UAL386', 
                                         flight_tracks_df = tracks, 
                                         artcc_df = artcc_df)
print('flight UAL386 crossed: ', crossed_artcc)

crossed_artcc = find_crossing_artcc_order(flight_id = 'UAL1295', 
                                          flight_tracks_df = tracks, 
                                          artcc_df = artcc_df)
print('flight UAL1295 crossed: ', crossed_artcc)

crossed_artcc = find_crossing_artcc_order(flight_id = 'UAL593', 
                                          flight_tracks_df = tracks, 
                                          artcc_df = artcc_df)
print('flight UAL593 crossed: ', crossed_artcc)

flight UAL386 crossed:  ['ARTCC ZHU', 'ARTCC ZFW', 'ARTCC ZME', 'ARTCC ZID', 'ARTCC ZOB', 'ARTCC ZNY', 'ARTCC ZBW']
flight UAL1295 crossed:  ['ARTCC ZHU', 'ARTCC ZFW', 'ARTCC ZME', 'ARTCC ZID', 'ARTCC ZDC', 'ARTCC ZNY', 'ARTCC ZBW']
flight UAL593 crossed:  ['ARTCC ZHU', 'ARTCC ZTL', 'ARTCC ZDC', 'ARTCC ZNY', 'ARTCC ZBW']